*, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}


body{
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #0f172a;
    color: #fff;
}

.left{
    position: fixed;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.name{
    font-size: 4em;
    font-weight: bolder;
}

.title{
    font-size: 1.5em;
    margin-bottom: .5em;
    opacity: .5;
}

.subtitle{
    font-size: 1em;
}

.nav-list{
    font-size: 1.5em;
    margin-bottom: .5em;
    cursor: pointer;
    list-style: none;
}

.nav-list:hover{
    scale: 1.1;
    text-decoration: underline;
}

.social ul{
    display: flex;
    gap: 2em;
    list-style: none;
    filter: invert(100%);
    cursor: pointer;
}

.right{
    position: relative;
    padding: 3em;
    width: 50%;
    left: 50%;
    overflow: auto;
    scroll-behavior: smooth;
    color: #bec3cf;
}

.right > h2 {
    color: white;
}

.right::-webkit-scrollbar-horizontal {
    display: none;
}

section{
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}


h1 {
    margin-bottom: .5rem;
    font-size: 2.5em;
    color: #fff;
}

.experience-div{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    padding: 1em;
}

.experience-div:hover,
.project-div:hover{
    background-color: #172543;
}

.experinace-year{
    font-size: .9rem;
    max-width: 30%;
    margin-right: 2em;
    padding-right: .5em;
    border-right: 1px solid #fff;
    color: #fff;
}

.experiance-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experiance-role{
    color: red;
    font-size: 2rem;
    color: #fff;
    padding: 0;
    margin-bottom: 1rem;
}

.experiance-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.experiance-list > li{
    background-color: #122c40;
    font-size: .8em;
    color: #49b9b2;
    margin-left: .5em;
    align-self: center;
    border-radius: 10px;
}

.project-div{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: 1.5em;
}

.project-img{
    height: 6em;
    object-fit: contain;
    margin-right: 1em;
}

.project-deets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-name{
    color: #fff;
    font-size: 1.5em;
    margin-bottom: .5em;
}

.flashlight{
    background-color: #fff;
    height: 150px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: 2;
    background: linear-gradient(
        to right,
        aquamarine,
        mediumpurple
    );
    filter: blur(200px);
    pointer-events: none;
    mix-blend-mode: exclusion; 
}


@media screen and (max-width: 1350px) {
    .experiance-list{
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
    }

    .experinace-year{
        border-right: none;
    }
    
    .project-img{
        margin-bottom: 1em;
    }

    .experience-div, .project-div {
        padding: 1em;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 946px) {

    .body{
        max-width: 100%;
        overflow-x:hidden;
    }
    .wrapper {
        flex-direction: column; 
    }

    nav{
        display: none;
    }

    .left {
        width: 100%; 
        position: relative;
        height: auto; 
        padding: 2em; 
    }

    .right {
        width: 100%; 
        left: 0; 
        padding: 1em;
    }

    .social{
        margin-top: 2em;
    }

    .experiance-list{
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
    }

    .project-img{
        margin-bottom: 1em;
    }

    .experience-div, .project-div {
        padding: 1em;
        flex-direction: column;
    }
}